<h1>My list of restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant.name, restaurant_path(restaurant) %>
  <p><%= restaurant.address %></p>
<% end %>

<%= link_to 'create new restaurant', new_restaurant_path %>
