.card {
  margin: 20px;
  background-color: gray;
  box-shadow: 0 5px 3px -3px #777;
}
.card-image {
  width: 80%;
  margin: 10px;
  border-radius: 5px;
}
.card-title {
  margin: 10px;
}
.card-link {
  text-decoration: none;
  text-align: center;
}
